@import url(https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu);

/* Heading Styles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu", sans-serif;
}

.title {
    margin: 0;
    border: 0.5em solid #476a85;
    text-shadow: -2px 2px #000;
}

.event_list_header {
    margin-bottom: 0.5em;
}

body {
    background-color: #eee;
    color: #111;
    font-family: "Open Sans", sans-serif;
    margin:0;
    padding:0;
}

#container {
    margin:0;
    padding:0;
    margin-top: 0px;
}

#header {
    background-color: #476a85;
    color: #fff;
    margin:0;
    padding:0;
    border-bottom: 1px #143f61 solid;
}

#control-bar {
    margin: 0 3px 0 0;
    list-style: none;
    list-style-type: none;
    text-align: right;
    color: #fff;
    font-size: 1em;
    padding: 0 10px;
    overflow: hidden;
    background-color: #476a85;
}

#control-bar li {
    display: inline;
}

#control-bar li a {
    background-color: #143f61;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

/*#control-bar li a:hover {
    background-color: #021c31;
}*/

#control-bar li a:hover:not(.active) {
    background-color: #021c31;
    color: white;
}

#control-bar .active {
    background-color: #021c31;
}

#content {
    margin: 0em 1em 1em;
}

#content a:link {color: #0b5a97;}
#content a:visited {color: #0b3c61;}
#content a:hover {color: #eb4402;}
#content a:active {color: #eb8702;}

ul#entries {
    list-style: none;
    list-style-type: none;
}
div.entry {
    margin-right: 2em;
    margin-top: 1em;
    border-top: 1px solid #cecece;
}
ul#entries li:first-child div.entry {
    border-top: none;
    margin-top: 0em;
}
div.entry-body {
    margin-left: 2em;
}
.notification {
    float: right;
    text-align: center;
    width: 25%;
    padding: 1em;
}
.info {
    background-color: #aae;
}

.byline {
    margin-top: 0;
}

.centered {
    text-align: center;
}

/* Style for created/edited/modified info */
.time_info {
    font-style: italic;
}

/* List Styles */
ul.tags {
    list-style: none;
    list-style-type: none;
    padding-left: 0;
}
ul.tags li {
    display: inline;
    font-style: italic;
}


