{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

  <p>
    Welcome back!
  </p>

{% else %}
  <p>
    If you've never been to the site before, you should <a href="{% url 'registration_register' %}">register</a>.<br />
    If you're already registered, aren't you special?
  </p>

{% endif %}

<p>
  Here is an incredibly basic front page, which I'm not sure is really necessary, 
  but it seems like starting out with the list is not quite the way to go.
</p>

{% endblock %}