{% extends "base.html" %}{% block content %}
  <h1>Upcoming Games</h1>
  {% comment %} here is where the query happens {% endcomment %}
  {% for event in events %}
  <div class="post">
    <h3><a href="{% url 'event_detail' event.pk %}">{{ event }}</a></h3>
    <p class="byline">
      Game Date: {{ event.date }}<br />
      Hosted by {{ event.creator }}<br />
      Game System: <a href=" {{ event.rules_url }} ">{{ event.game_system }}</a>
    </p>
    <div class="post-body">
      {% with preview=event.text|safe %}
      {{ preview|truncatechars_html:150 }}
      {% endwith %}
    </div>
    <p class="above_list">Tags:</p>
    <ul class="tags">
      {% for tag in event.tags.all %}
        <li>{{ tag }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
{% endblock %}