{% extends "base.html" %} {% block content %}

  <h1 class="centered">Past Games</h1>
  {% comment %} here is where the query happens {% endcomment %}

  {% for event in events %}
      <div class="post">
        <h3 class="event_list_header"><a href="{% url 'event_detail' event.pk %}">{{ event }}</a></h3>
        <p class="byline">
          Game Date: {{ event.date }}<br />
          Hosted by {{ event.creator }}<br />
          Game System: <a href=" {{ event.rules_url }} ">{{ event.game_system }}</a>
        </p>
        <div class="post-body">
          <p><strong>Description:</strong>
          {% with preview=event.description|safe %}
          {{ preview|truncatechars_html:150 }} 
          {% endwith %} <a href="{% url 'event_detail' event.pk %}"><em>(full details)</em></a></p>
          <ul class="tags">
            <li><strong>Tags:</strong></li>
              {% if event.tags.all|length > 0 %}
                {% for tag in event.tags.all %}
                  <li><a href="{% url 'tagged' tag.slug %}">{{tag}}</a></li>
                {% endfor %}
              {% else %}
                <li><em>(None)</em></li>
              {% endif %}
          </ul>
        </div>
      </div>

  {% endfor %}
{% endblock %}