@import url(https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu);

/* formatting takes up full screen, requires both height and min-height */

html { 
    height:100%;
}

body {
    margin:0;
    padding:0;
    min-height:100%;
    font-family: "Impact", sans-serif;
}

/* Heading Styles */
h1, h2, h3, h4, h5, h6 {
    color: #122957;
    font-family: "Ubuntu", sans-serif;
}

p, td, th {
    color: #111;
}

.title {
    font-size: 225%;
    margin: 0;
    border: 0.5em solid #263f6f;
    text-shadow: -2px 2px #000;
    background-color: #263f6f; 
    color: #fff;
}

.event_list_header {
    margin-bottom: 0.5em;
}

#container {
    margin:0;
    padding:0;
    background-color: #eee;
}

#header {
    margin:0;
    padding:0;
    border-bottom: 1px #122957 solid;
}

ul#control-bar {
    background-color: #263f6f;
    display: flex;
    font-size: 1em;
    justify-content: center;
    list-style: none;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    text-align: right;
}

ul#control-bar li {
    margin: 0;
    padding: 0;
}

ul#control-bar li a {
    color: #eaeffb;
    display: block;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px 1px #000;
}

ul#control-bar li a:hover:not(.active) {
    background-color: #122957;
    color: #dce2ef;
}

ul#control-bar .active {
    background-color: #c6834f;
    color: #122957;
}

ul#control-bar .active-edit {
    background-color: #eb4402;
}

#content {
    margin: 0em;
    border-bottom: 0.5em solid #eee;
    border-top: 0.1em solid #eee;
    border-left: 1em solid #eee;
    border-right: 1em solid #eee;
}

#content a:link {color: #3d5584;}
#content a:visited {color: #122957;}
#content a:hover {color: #c6834f;}
#content a:active {color: #eb4402;}

ul#entries {
    list-style: none;
    list-style-type: none;
}
div.entry {
    margin-right: 2em;
    margin-top: 1em;
    border-top: 1px solid #cecece;
}
ul#entries li:first-child div.entry {
    border-top: none;
    margin-top: 0em;
}
div.entry-body {
    margin-left: 2em;
}
.notification {
    float: right;
    text-align: center;
    width: 25%;
    padding: 1em;
}
.info {
    background-color: #aae;
}

.byline {
    margin-top: 0;
}

.centered {
    text-align: center;
}

/* Style for created/edited/modified info */
.time_info {
    font-style: italic;
}

/* List Styles */
ul.tags {
    list-style: none;
    list-style-type: none;
    padding-left: 0;
}
ul.tags li {
    display: inline;
    font-style: italic;
}

/* FOOTER */

#footer {
    color: #eaeffb;
    margin:0;
    padding:0;
    bottom: 0;
}

ul#footer-bar {
    background-color: #263f6f;
    display: flex;
    font-size: 1em;
    justify-content: center;
    list-style: none;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 1px 0;
    text-align: right;
}

ul#footer-bar li {
    display: block;
    color: #eaeffb;
    margin: 0;
    padding: 0;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px 1px #000;
}

ul#footer-bar li a:link { color: #eaeffb; }
ul#footer-bar li a:visited { color: #eaeffb; }
ul#footer-bar li a:hover { color: #dce2ef; }
ul#footer-bar li a:active { color: #eb4402; }

/* BUTTONS */

.submit-btn {
    text-shadow: -1px 1px 0px #000;
    font-family: "Ubuntu", sans-serif;
    color: #ffffff;
    font-size: 1.1em;
    background: #3d5584; /* Shade lighter than nav bar buttons */
    padding: 15px 30px;
    border: none;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    float: right;
}

.submit-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background: #c6834f;
    text-decoration: none;
}

a.edit-btn {
    background-color: #bbb;
    border: 3px solid #999;
    border-style: ridge;
    color: #081144;
    padding: 0 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
    vertical-align: text-bottom;
}
a.ecit-btn:link {color: #081144;}
a.edit-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(8, 17, 68, 0.24),0 17px 50px 0 rgba(8, 17, 68,0.19);
    background: #80a2e5;
    color: #00f !important;
    border: 3px solid #5683dc;
    border-style: ridge;
}
a.edit-btn:active {color: #00f;}

/* Allows centered button */
.table {
    display: table;   /* Allow the centering to work */
    margin: 0 auto;
    padding: 0;
}

/* Color palette at http://paletton.com/palette.php?uid=33J0u0kjdoQ8JBKe3tBnjkUsngp */
